extends layout

block content
  h1 Ajax 뒤로 가기 예제
  h3 게시글 목록
  ul#list
  a(href="/pages/#{++page}")#next 다음 
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script.
    var getList = function(page) {
      $.getJSON('/pages/' + page, function(data) {
        var list = $.map(data.list, function(l) {
          return '<li><a href="/detail/' + l.id + '">' + l.title + '</a></li>'
        }).join('');
        $('#list').html(list);
        $('#next').attr('href', '/pages/' + (+page+1));
      });
    };

    $('#next').click(function(event) {
      event.preventDefault();
      var page = $(this).attr('href').slice(7);
      getList(page);
    });

    var currentPage = $('#next').attr('href').slice(7);
    getList(--currentPage);