extends layout

block content
  h1 Ajax 뒤로 가기 예제
  h3 게시글 목록
  ul#list
  button#next 다음 
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script.
    var getList = function(page) {
      $.getJSON('/pages/' + page, function(data) {
        var list = $.map(data.list, function(val) {
          return '<li>' + val + '</li>'
        }).join('');
        $('#list').html(list);
        window.location.hash = '#page' + page;
      });
    };

    var currentPage = 1;
    $('#next').click(function() {
      getList(++currentPage);
    });

    $(window).on('hashchange', function() {
      var page = parseInt(location.hash.slice(5));
      if (!!page && currentPage !== page) {
        getList(page);
        currentPage = page;
      }
    });

    getList(currentPage);